<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link href="/css/write.css" rel="stylesheet">
</head>
<body>
<h1>글쓰기</h1>
<div class="form_area">
    <form method="post" action="/board/write.do">
        <div>
            <label>제목</label>
            <label>
                <input type="text" name="title">
            </label>
        </div>
        <div>
            <label>내용</label>
            <label>
                <textarea name="content"></textarea>
            </label>
        </div>
        <div>
            <label>글쓴이</label>
            <label>
                <input type="text" name="writer">
            </label>
        </div>
        <div class="button">
            <button class="btn-submit">저장</button>
        </div>
    </form>
</div>
</body>
</html>